#backgroundHome{
    background-image: url('../img/AncorasBg1_Mobile.png');
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#background{
    background-image: url('../img/AncorasBg2_Mobile.png');
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* #background::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
} */

#logoFEI{
    width: 40px;
    margin-bottom: 20px;
    display: none;
    position: fixed;
    z-index: 2;
}

#conteudo{
    z-index: 2;
    position: relative;
    text-align: center;
}

#title{
    font-weight: bold;
    color: #065164;
    text-align: center;
}

p{
    color: #206374;
    font-size: 20px;
}

#main #home #imgFEI{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;
}

#main #home #buttonDescubra,
#main #apresentacao #buttonInicieTeste,
#main #instrucoes #buttonIniciarTeste,
#main #pageTeste #btnIniciar,
#main #pageTeste #btnFormPerguntas{
    background-color: #0D5F9C;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
}

#main #home #buttonDescubra:hover,
#main #apresentacao #buttonInicieTeste:hover,
#main #instrucoes #buttonIniciarTeste:hover,
#main #pageTeste #btnIniciar:hover,
#main #pageTeste #btnFormPerguntas:hover{
    background-color: #0B436B;
}

#main #apresentacao p{
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

#main #pageTeste span#termos{
    font-weight: bold;
    color: #065164;
}

#main #pageTeste label{
    font-weight: 600;
    color: #065164;
}

#main #pageTeste #pergunta{
    padding: 20px;
    border: 1px solid #666;
    margin: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.90);
}

form#formPerguntas{
    display: none;
    text-align: justify;
}

form#formPerguntas input#inputNome{
    margin-bottom: 30px;
}

button#btnFormPerguntas, button#btnVoltarPerguntas{
    float: right;
    width: 150px!important;
}

button#btnSalvarResultado{
    margin-top: 30px;
    float: left;
}

button#btnVoltarPerguntas{
    margin-top: 30px;
}

div#pergunta select{
    margin-top: 5px;
}

div#main{
    position: relative;
    padding: 20px;
    padding-top: 50px;
    z-index: 2;
}

div#main .badge{
    background-color: #840F13;
}

div#main #instrucoes{
    max-width: 90%;
    text-align: justify;
    margin: 0 auto;
}

#main #instrucoes #instrucoesPontos{
    text-align: left;
    font-size: 16px;
}

#main #instrucoes #instrucoesText{
    font-size: 16px;
    font-weight: 500;
}

#main #instrucoes #instrucoesText #destaque{
    color: #0960E9;
}

div#main #resultado{
    display: none;
}

div.card{
    margin-top: 20px;
}

div.card div.card-header{
    background-color: #db8b46;
    color: #fff;
    font-weight: 600;
}

div#main h1{
    margin-bottom: 20px;
}

div.card div.accordion-body{
    text-align: justify;
}